/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/

body {
  font-sise: 12px;
  padding-top: 50px;

  }

  * {
  box-sizing: border-box;
  }

  div {
  font-weight: 300;
  font-family: "Open Sans", "Helvetica", "Georgia";
  font-weight:300;
}

.zachbody, .experience, .sectionheader, .jobbox, .job, .jobtitle, .joborganization, .jobdescription {
  border: 1px dashed purple;
  padding: 5px;
}

.zachbody{
  height: 600px;
}

.rowname{
  font-size: 2em;
  font-weight: 300;
}

.sectionheader{
  font-size: 1.5em;
  font-weight: bold
}

.experience {


}

.jobbox{

}

.job{

}

.jobtitle{
  font-weight: bold;

}

.joborganization{

}

.jopdescription{

}

.education{

}

.degree{

}

.school{

}

.skills{

}

.technicalskillsbox{

}

.keyskillsbox{

}

ul.keyskills{
 margin: 5px 0px 5px;
}

ul.li{
 margin: 20px 0 0 0;
}

ul.technicalskills{

}
