/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/

body{
  font-size: 14px;
  padding-top: 50px;
  font-family: 'Helvetica', 'Georgia';

}

* {
  box-sizing: border-box;
  color: #222;
  }
/* Selected complimentary fonts in css*/
  div {
  font-weight: 300;
  font-family: "Helvetica", "Georgia";
  font-weight:300;

}

.zachbody, .experience, .sectionheader, .jobbox, .job, .jobtitle, .joborganization, .jobdescription {
  border: 1px
  padding: 5px;
}

.zachbody{
  color: #444;
  background-color: #F5F5F5;
}
/* Centered name, put a wider blue line underneath*/
.name {
  font-size: 4em;
  font-weight: 300;
  border-bottom: 5px solid #4682B4;
  text-align: center;
}

.bottomsection {
  padding-bottom: 70px;
}
/* Made the right section darker to stand out*/
.rightsection{
  background-color: lightgray;
  margin-top: 4.5px;
}
/* Added border to section headers*/
.sectionheader{
  font-size: 1.7em;
  font-weight: bold;
  margin: 15px 0 5px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #4682B4;
}

.personaldatabox {

}

.experience {


}

.jobbox{

}
/* Adjusted margins, font size in job section*/
.job{
 margin-top: 5px
}

.jobtitle{
  font-weight: bold;
  font-size: 1.3em;

}

.joborganization{
  font-size: 1.2em;
  margin: 0 auto 0 auto;

}

.jopdescription{
  font-size: .5em;
  margin: 5px 0 5px 0;
}

.date{
  font-style: italic;
  border: 1px dashed blue;
}


.education{

}
/* Bolded degrees*/
.degree{
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: -1px;
  border: 1px dashed blue;
  margin-bottom: 10px;


}

.school{
  font-size: .9em;
  border: 1px dashed blue;
  font-weight: 300;
}

.technicalskillsbox {

}
/* Bolded address, phone and email and adjusted margins*/
.address {
  margin-bottom: 1px;
  font-weight: bold;
}

.phone {
  margin: 5px 0 1px 0;
  font-weight: bold;
}

.email {
  margin: 5px 0 1px 0;
  font-weight: bold;
}

.keyskillsbox{

}
/* Added spacing in between skills*/
ul.keyskills{
  line-height: 1.5em;
  list-style-type: none;

}

ul.medialinks {
  line-height: 1.em;
  list-style-type: none;
}

li.medialinks{
 margin-top: 5px;

}

ul.technicalskills {
 line-height: 1.5em;
 list-style-type: none;

}

ul.technicalskills{

}

.address, .phone, .email {
  font-size: bold;
}
/* Media query for small device*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .rightsection {
    background color: none;
