/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/

body{
  font-size: 14px;
  padding-top: 70px;
  font-family: 'Helvetica', 'Georgia';

}

* {
  box-sizing: border-box;
  color: #222;
  }
/* Selected complimentary fonts in css*/
  div {
  font-weight: 300;
  font-family: "Helvetica", "Georgia";
  font-weight:300;

}

.zachbody, .experience, .sectionheader, .jobbox, .job, .jobtitle, .joborganization, .jobdescription {
  border: 1px
  padding: 5px;
}

.zachbody{
  color: #444;
  background-color: #F5F5F5;
}
/* Centered name, put a wider blue line underneath*/
.name {
  font-size: 4em;
  font-weight: 300;
  border-bottom: 5px solid #4682B4;
  text-align: center;
}

.bottomsection {
  padding-bottom: 70px;
}
/* Made the right section darker to stand out*/
.rightsection{
  background-color: lightgray;
  margin-top: 4.5px;
}
/* Added border to section headers*/
.sectionheader{
  font-size: 1.7em;
  font-weight: bold;
  margin: 15px 0 5px 0px;
  text-transform: uppercase;
  border-bottom: 1px solid #4682B4;
}

.aboutheader {
  /*margin: 15px 0 5px 50px;*/
  font-size: 2em;
  font-weight: 400;

}

/* Added headline in css for portfolio page*/
.headline {
  font-weight: ;
  font-size: 1.2em;
}

.articledescription {
  font-size: ;
  margin: 15px 0 15px 0;
}

/* Tried to align "Hi, I'm Zach" a frowned upon way
.abouttext, .aboutheader {
  padding: 10px 100px;
  text-align:justify;
}

.aboutheader {
  padding: 10px 64px;
}
*/
.work {
  margin: 10px 0 10px 0;
  font-weight: ;
  font-size: 1.2em;
}
/* Adjusted margins, font size in job section*/
.job{
 margin-top: 5px
}

.jobtitle{
  font-weight: bold;
  font-size: 1.3em;

}

.joborganization{
  font-size: 1.2em;
  margin: 0 auto 0 auto;

}

.jopdescription{
  font-size: .5em;
  margin: 5px 0 5px 0;
}

.date{
  font-style: italic;
  /* border: 1px dashed blue;*/
}


.education{

}
/* Bolded degrees*/
.degree{
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: -1px;
  /* border: 1px dashed blue;*/
  margin-bottom: 10px;
}

.abouttext {
  text-align:
}

.school{
  font-size: .9em;
  /* border: 1px dashed blue;*/
  font-weight: 300;
}

.technicalskillsbox {

}
/* Bolded address, phone and email and adjusted margins*/
.address {
  margin-bottom: 1px;
  font-weight: bold;
}

.phone {
  margin: 5px 0 1px 0;
  font-weight: bold;
}

.email {
  margin: 5px 0 1px 0;
  font-weight: bold;
}
/* Added writing clips, got rid of bullets*/
.writingclips{
  list-style-type: none;


}
/* Added spacing in between skills*/
ul.keyskills{
  line-height: 1.5em;
  list-style-type: none;

}

/*
ul.medialinks {
  line-height: 1em;
  list-style-type: none;
  display: block;
  margin: 0 auto;
}
*/
/*
li.medialinks{
 margin-top: 5px;

}
*/
/* Added media links code in CSS to center*/
ul.medialinks1 li{
  display: inline-block;
  font-size: 1em;
  margin: 0px 0 15px 0;
  padding-top: 1px;
  text-align: center;
}


ul.medialinks1{
  text-align: center;
  margin-top: 10px;

}
*/
ul.technicalskills {
 line-height: 1.5em;
 list-style-type: none;

}

.address, .phone, .email {
  font-size: bold;
}

/* Media query for extra small device*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .rightsection {
    background color: none;
    float: right;}

  .date {
    overflow-x: hidden;
    float: left;
  }

@media only screen (min-width: 768px) and (max-width: 768px) {
    .abouttext, .aboutheader {
      padding: 0;
      text-align: {
