/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/

body {
  padding-top: 50px;
  font-size: 12px;
  font-family: 'Open Sans', 'Helvetica', 'Sans-Serif';

}

h1, p {
  text-align: center;

}

h1.topbox {
  font-size: 5rem;
  font-weight: 600;
}

.byline {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 400;
  color: #777;
  margin: 15px 0 20px 0;
  text
}

.lowercase {

}

.graphiccontainer {

}

#one {

}

.textblock {

}

.graphictitle {

}

.graphictext {

}

.graphicblock {

}

.graphiccontent {

}
