
body {
  font-size: 12px;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #444;
/* Set margin and padding to 0*/
  margin: 0 0;
  padding: 0 0;
}

* {
  box-sizing: border-box;
}

div {
  font-weight: 300;
  font-family: 'Open Sans';
}
/* Set border-bottom to 1px and changed color*/
#name {
    font-size: 4em;
    width: 300px;
    border-bottom: 1px solid #FDB020;
    margin: 5px auto 5px auto;
    width: 60%;
    min-width: 300px;
    text-align: center;
}
/* Aligned sectionheader to center of resume, changed boldness*/
.sectionheader {
    font-weight: 300;
    margin: 7px 0 10px 0;
    text-align: center;
    width: 30%;
    min-width: 150px;
    border-bottom: 1px solid rgba(253, 176, 32, 0.4);
    font-size: 2em;
    background-color:#d1d1d1;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    float: left;

}

/* Bolded job title, set weight to 600*/
.jobtitle {
    font-size: 1.5em;
    font-weight: 600;
}

/* Set company name to 16px*/
.organization {
    font-size: 1.33em;
}

/* Set margin to date at 2 px on top*/
.date {
    font-style:italic;
    font-size: 1em;
    margin: 2px 0 0 0;
}
/* Set contact info, skills and education to 10X 12px*/
ul, li {
   font-size: 1.10em;
}
/* Set margin of unordered list to 0, aligned to center*/
ul.menu {
    margin: 0px 0px;
    padding: 0px 0px;
    text-align: center;
}

/* Set margins of IDs to 5px on top*/
ul#degrees, ul#do {
    margin: 0px 0px 0px 4%;
    width: 65%;
    float: left;
    list-style:none;
/* The code widdened the left and right margins*/
    -webkit-padding-start: 21px;
    border-left: 1px solid rgba(253, 176, 32, 0.3);
}



/* Set box-sizing and font-weight for all*/
* div {
    box-sizing: border-box;
    font-weight: 300;

}
/* Set margin to paragraphs at 10px on top*/
p.description {
    margin: 10px 0 0 0;
}

/* Added display inline to only this list*/
ul.menu li {
    display: inline;
}

div.job {
  margin: 0 0 15px 0;
}

div.alljobs {
  width: 65%;
  float: left;
  margin-left: 4%;
  border-left: 1px solid rgba(253, 176, 32, 0.3);
  padding: 0 0 0 20px;
}
/*Combined all three IDs, adjusted margin, border, etc.*/
div#experience, div#education, div#skills {
  margin: 0px auto 20px auto;
  padding: 10px 10px;
  width: 90%;
  height: auto;
  overflow: auto;
  border: 1px solid #F2F2F2;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
/* Set header of resume to fixed position*/
div#top {
  margin: 0 0 35px 0;
  padding: 0 0 10px 0;
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  text-decoration: none;

}
/* Adjusted position, top, width, height and overflow to botton*/
div#bottom {
  margin: 0px auto;
  position: relative;
  top: 120px;
  width: 95%;
  height: auto;
  overflow: auto;
}

li a {
  text-decoration: none;
  color: #444;
}
#degrees li, #do li {
  margin: 3px;
}
/* Media query for extra small device*/
@media only screen and (max-width: 767px){
    #top {
     position: relative;
     border-bottom: 0px;}
    #name {
     font-size: 3em; }
    .alljobs {
      width: 100%;
      float: left;
      margin: 0 0;
      border-left: none
      padding: 10px 10px;
    }
  }
}
/* Media query for small device*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

}
/* Media query for medium device*/
@media only screen and (min-width: 992px) and (max-width: 1199px){

}
/* Media query for large device*/
@media only screen and (min-width: 1200px){

}
span.bolding {
  font-weight: 600;
}
