body {
  font-style: 12px;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #444;
}

h1,h2,h3,h4,h5,ul,li {
    font-weight: 300;
    text-align:

    /* Styles at the top of resume*/
}
h1 {
  font-size: 4em;
}

}






}









}
