/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/

body {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #D3D3D3;
  font-family: 'Open Sans', Helvetica, sans-serif';

}

.navbar-header {
  background color: #BADA55;

}

h2 {
  font-size: 40px;
  text-align: left;
}

.byline {
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 400;
  color: #777;
  margin: 15px 0 20px 0;
  font-style: italic;
  text-align: center;

}

.lead p {
  font-size: 1.75rem;
}

.containerzachbody {

}

.topsection {
  text-align: left;
  margin: 20px 0px 0 0px;
}

.topbox h1 {
  font-size: 5rem;
  font-weight: 600;
  text-align: left;
}

.graphiccontainer {
  margin: 0 0px 0 0;
  padding: 20px 20px;
}


.textblock {
  padding-left: 0px;
  border-right: 2px solid #777;
}

.graphicblock {
  padding-right:0px;
}

.graphictitle{
  color: 	#000000;
  font-size: 30px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 0px;
}

.graphictext {
  padding-left: 0px;
  font-size: .9em;
}

#one, #three, #five, #seven, #eight, #nine {
  font-size: 15px;
  margin: 20px 70px 20px 0;
  font:

}

.graphiccontent {
  margin-bottom: 20px;

}

#uninsuredchart {
  height: 420px;
}

#two {

}

.legendbox {
  width: 200px;
  height: 200px;
  border: 1px solid #aaa;
  z-index: 1;
  position: absolute;
  bottom: 10px;
  left: 20px;
  background-color: #eee;
}

.legendbox h4 {
  padding-left: 10px;
}

.legendentry {
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin: 0px 10px 2px 10px;
}

.severeshortage {
  color: #eee;
  background-color: #990000;
}

.highshortage {
  color: #eee;
  background-color: #0b5394;
}

.intheclear {
  color: ##000000;
  background-color: #00ff00;
}

#seven {
  margin-top: 40px;
}

.textcontainer {
  align: center;
  padding: 20px 20px;
}

.charts {
  width: 100%;
}

.ct-chart {
  width: 600px;
  height: 400px;
}

.ct-label {
  font-size: 12px !important;
}

@media only screen and (max-width: 992px) {
    .topsection {
      padding: 0;
    }
    .textblock {
      border: none;
    }
  }


@media only screen and (max-)
