/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/

body {
  padding-top: 50px;

}

.navbar {
  background color: #BADA55;

}

.byline {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 400;
  color: #777;
  margin: 15px 0 20px 0;
  font-style: italic;
}

.lead p {
  font-size: 1.75rem;
}

.containerzachbody {

}

.topsection {
  text-align: center;
  margin: 20px 0 0 0;
}

.topbox h1 {
  font-size: 5rem;
  font-weight: 600;
}

.graphiccontainer {
  margin: 0 20px 0 0;
  padding: 20px 20px;
}

.textblock {
  margin: 0 20px 0 0;
  padding: 0 20px 0 20px;
}

#one {

}

.graphicblock {

}

.graphictitle{
  color: 	#000000;
}

.graphictext {
  text-align: left;
}

.graphicblock {

}

.graphiccontent {

}

#uninsuredchart {

}
