/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/

body {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;

}

.navbar {
  background color: #BADA55;

}

.byline {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 400;
  color: #777;
  margin: 15px 0 20px 0;
  font-style: italic;
  text-align: center;
}

.lead p {
  font-size: 1.75rem;
}

.containerzachbody {

}

.topsection {
  text-align: left;
  margin: 20px 0px 0 0px;
}

.topbox h1 {
  font-size: 5rem;
  font-weight: 600;
  text-align: left;
}

.bottomsection {

}

.bottombox {

}

h2 {
  text-align: left;
}
.graphiccontainer {
  margin: 0 20px 0 0;
  padding: 20px 20px;
}

.textblock {
  margin: 0 20px 0 0;
  padding: 0 20px 0 20px;
}

#one {

}

.graphicblock {

}

.graphictitle{
  color: 	#000000;
  font-size: 12px;
}

.graphictext {
  text-align: left;
}

.graphicblock {

}

.graphiccontent {

}

#uninsuredchart {

}

#two {

}

.legendbox {
  width: 200px;
  height: 200px;
  border: 1px solid #aaa;
  z-index: 1;
  position: absolute;
  bottom: 10px;
  left: 20px;
  background-color: #eee;
}

.legendbox h4 {
  padding-left: 10px;
}

.legendentry {
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin: 0px 10px 2px 10px;
}

.severeshortage {
  color: #eee;
  background-color: #990000;
}

.highshortage {
  color: #eee;
  background-color: #0b5394;
}

.intheclear {
  color: ##000000;
  background-color: #00ff00;
}

#three {

}

#disorderchart {
  
}
